{% extends "discussion/discussion_base.html" %}

{% block content %}
{#    <div class="row">#}
{#        <div class="col-sm-12 text-center">#}
{#            <div class="panel panel-default">#}
{#              <div class="panel-heading">#}
{#                <h3 class="panel-title">#}
{#                    <b>{{ discussion.title }}</b>#}
{#                </h3>#}
{#              </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
            <div class="panel-heading">
            </div>
              <div class="panel-body">
                <h3>{{ discussion.title }}</h3>
                <p>by {{ discussion.poster.first_name }}</p>
                <div class="row">
                    <div class="col-sm-1">
                      {% if discussion.poster.image.url %}
                          <img src="{{ discussion.poster.image.url }}" class="img-responsive img-circle"/>
                      {% else %}
                          <img src="http://placehold.it/200x200&text=profile+picture" class="img-responsive img-circle">
                      {% endif %}
                    </div>
                    <div class="col-sm-11">
                    <p>{{ discussion.text }}</p><br>
                    </div>
                </div>
              <hr>
              <h3>Comments</h3>
              {% if comments %}
                {% for comment in comments %}
                    <div class="row">
                    <div class="col-sm-1">
                        {% if comment.poster.image.url %}
                          <img src="{{ comment.poster.image.url }}" class="img-responsive img-circle"/>
                        {% else %}
                          <img src="http://placehold.it/200x200&text=profile+picture" class="img-responsive img-circle">
                        {% endif %}
                    </div>
                    <div class="col-sm-11">
                        <h4>{{ comment.poster.first_name }}</h4>
                        <p>{{ comment.text }}</p>
                    </div>
                    </div>
                {% endfor %}
              {% else %}
                  no comments yet
              {% endif %}
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>Add Comments</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'add_comment' discussion.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form.text }}
                            </div>
                            <button class="btn btn-xl" type="submit">Add comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}