{#{% extends 'base_template.html' %}#}
{##}
{#{% block content %}#}
{#    <hr>#}
{#    <h1>My Products </h1>#}
{#    <hr>#}
{#    {{ tickets }}#}
{#    <ul>#}
{#    {% for ticket in tickets %}#}
{#        <li>{{ ticket.number_of_tickets_sold }}#}
{#        {{ ticket.product.name }}    </li>#}
{##}
{#    {% endfor %}#}
{#    </ul>#}
{#    {% for ticket in past_tickets %}#}
{#        {{ ticket.number_of_tickets_sold }}#}
{#    {% endfor %}#}
{#    {{ products }}#}
{#    {% for product in products %}#}
{#        {{ product.ticket_count }}#}
{#    {% endfor %}#}
{#{% endblock %}#}

{% extends 'base_template.html' %}

{% block content %}
    <hr>
    <h1>My Products</h1>
    <hr>
    <div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Current Products</h4></div>
        <div class="panel-body">
            {% for product in products %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#">
                                <img class="media-object" src="{{ product.default_picture.image.url }}">
                            </a>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="{% url 'view_product' product.id %}">{{ product.name }}</a></h3>
                            <p>
                                <span >description area{{ product.description |slice:":150" }}</span>
                            </p>
                            <p>starts: <span class="glyphicon glyphicon-calendar"></span> {{ product.start_time }} ends: <span class="glyphicon glyphicon-calendar"></span>{{ product.end_time }}</p>
                            <p>
                            <a href="#" class="btn btn-xs btn-default" disabled="disabled"><span class="glyphicon glyphicon-th-large"></span> total {{ product.ticket_count }} tickets sold</a>
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Past products</h4></div>
        <div class="panel-body">
            {% for product in past_products %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#">
                                <img class="media-object" src="{{ product.default_picture.image.url }}">
                            </a>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="{% url 'view_product' product.id %}">{{ product.name }}</a></h3>
                            <p>
                                <span >description area{{ product.description |slice:":150" }}</span>
                            </p>
                            <p>starts: <span class="glyphicon glyphicon-calendar"></span> {{ product.start_time }} ends: <span class="glyphicon glyphicon-calendar"></span>{{ product.end_time }}</p>
                            <p>
                            <a href="#" class="btn btn-xs btn-default" disabled="disabled"><span class="glyphicon glyphicon-th-large"></span> {{ product.ticket_count }} tickets sold</a>
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
{% endblock %}