{% extends "message/message_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Send Messages</h3>
              </div>
              <div class="panel-body">
                <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ send_form.title}}<br>
                            {{ send_form.text }}<br>
                            Recipients: <br>
                            {{ send_form.recipient }}
                        </div>
                        <button class="btn btn-xl" type="submit">Send Message</button>
                </form>
              </div>
             <ul class="list-group">
                 {% for message in received_messages %}
                    <li class="list-group-item">{{ message.message.sender }} | {{ message.message }}</li>
                 {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">

        </div>
    </div>
{% endblock %}